@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  background-image: radial-gradient(circle at top center, #602f9d, #000 25%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.main-content button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #7c3aed;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}


.mint-button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #7c3aed;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}